#app {
    max-width: 750px;
    text-align: center;
    font-family: 'NanumMyeongjo';
}
#location {
    text-align: left;
    margin: 10px 30px 30px 30px;
}
#location > .navigation {
    margin-top: 10px;
}
#comment {
    padding: 1em;
}
#comment > h1 {
    font-size: 1.3em;
    margin-bottom: 1em;
}
#footer {
    margin-top: 20px;
    font-size: 0.7em;
}

.control {
    margin-bottom: 15px;
}

.fade-transition {
    transition: all 0.8s ease;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    position: absolute;
}
.fade-enter, .fade-leave {
    opacity: 0;
    visibility: hidden;
}